In [2]:
import numpy as np
import pandas as pd

In [17]:

# Create a dictionary with the data
data = {
    'Date': ['2024-05-12','2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20'],
    'pred': [1, 1, 0, 1, 0, 1, 0, 0, 1]
}

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Set the 'Date' column as the index
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Display the DataFrame
print(df)

            pred
Date
2024-05-12     1
2024-05-13     1
2024-05-14     0
2024-05-15     1
2024-05-16     0
2024-05-17     1
2024-05-18     0
2024-05-19     0
2024-05-20     1

In [40]:
df.index[-3:-1]

DatetimeIndex(['2024-05-18', '2024-05-19'], dtype='datetime64[ns]', name='Date', freq=None)

In [5]:
df = df[~df.index.duplicated(keep='first')]

In [19]:
df

            pred
Date
2024-05-12     1
2024-05-13     1
2024-05-14     0
2024-05-15     1
2024-05-16     0
2024-05-17     1
2024-05-18     0
2024-05-19     0
2024-05-20     1

In [12]:
dff = df['pred']

In [13]:
dts = ['2024-05-15','2024-05-16', '2024-05-17', '2024-05-18', '2024-05-19', '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23']

In [14]:
dff['dts'] = dts

In [37]:
print(df.index.dtype)

datetime64[ns]

In [20]:
df.to_csv('../data/predicted_results.csv')

In [8]:
df.iloc[-4:-1]['pred'].values

array([1., 0., 0.])